body {
	font-family:Raleway, sans-serif!important;
	margin:0;
	padding:0;
	background-color: transparent !important;
}
.btn, .btn:active, .btn:focus{
	background-color: #05709B !important;
	border-color: #05709B !important;
	color: #fff !important;
	transition: all .4s linear;
}
.btn:hover {
	opacity: 0.6 !important;

}

ul{
	margin:0 !important;
}

.list-tabs {
	background-color: #ecf4f7;
	box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
	-moz-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
	-webkit-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
	height:100vh;
	overflow-y: auto;
	position: fixed;
}

.panel-heading, .nav>li>a{
	padding: 10px 10px !important;
}



.sel-lang{
	position: fixed;
	top:10px;
	right:0;
}
.nav-span-plus{
	display: block;
	text-align: right;
	margin-top:-15px;
}

a, a:hover, a:active, a:focus, a:visited{
	text-decoration: none;
}
.tabbing li>a:hover, .tabbing li:hover i {
	color: #05709b;

}

.btn:focus, .btn:active, .btn:hover{
	outline:0 !important;


}
.container-fluid.page-wrapper {
	padding-left:0px;
	padding-right:0px;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
	background-color: transparent;

}

.drop-shadow{
	box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.19);
	background-color:#F3F7F8;
	padding:74px 0px;
	height: 100vh;
	overflow-y: auto;
}






a, a:focus, a:active, a:hover, a:visited {
	outline:0!important;
}

.navbar {
	margin-bottom:0;
}

.navbar-default {
	background-color:transparent;
	border-color:transparent;
}

.nomargin {
	margin-left:0px;
	margin-right:0px;
}

.positionA {
	position:absolute;
}

.search {
	width:40%;
	padding-top:10px!important;
	padding-bottom:10px!important;
	height:46px!important;
	margin:0 auto;
}

.search-icon {
	position:absolute;
	right: 31%;
	top: 8%;
	font-size:20px!important;
	color:#ddd;
}
.sidebar-bg{
	background-color:transparent;
}
.list-tabs {
	left:-25%;



}
.zIndex{
	z-index: 9999;
}
.nav-list-padding-left{
	padding-left: 15px;
}

.logo-padding {
	padding:30px;
}

.tabbing .active-tab {
	background-color:#05709b;
	padding:10px;
}
.tabbing .active-tab i {
	color: white;
}
.tabbing .active-tab a  {
	color: white;
}
ul.list-unstyled li.active-tab{
	background-color:#3969ab;
	color: white;
}
ul.list-unstyled li.active-tab a{
	color: white;
}
.tabbing li {
	border-bottom:1px solid #a9afbb;
	padding:10px;
}

.tabbing-top-border {
	border-top:1px solid #a9afbb;
}

.tabbing li a i {
	padding-right:10px;
	color:#a9afbb;

}

.tabbing .active-tab a i {
	padding-right:10px;

}

.tabbing li a {
	color:#5b5a5a;

}

.nav > li > a:focus,.nav > li > a:hover {
	background-color:transparent;
}

.login-form {
	background:linear-gradient(#fff 50%,#05709b 50%);
	background:-webkit-linear-gradient(#fff 50%,#05709b 50%);
	background:-moz-linear-gradient(#fff 50%,#05709b 50%);
	background:-ms-linear-gradient(#fff 50%,#05709b 50%);
	background:-o-linear-gradient(#fff 50%,#05709b 50%);
	display: flex;
	display: -webkit-flex;
	align-items: center;
	justify-content: center;
	height: 100vh;


}

.main-wrapper {
	background-color:#fff;
	box-shadow: 0px 3px 18px 0px rgba(0, 0, 0, 0.21);
	width:33.33%;
	margin:0 auto;
	padding:30px;
}

.logo {
	margin-bottom:50px;
}

.icon .fa-user,.icon .fa-lock {
	/*font-size:20px!important;*/
}

.icon {
	position:relative;
	padding-left:36px;
	padding-top:10px!important;
	padding-bottom:10px!important;
	border-radius:10px!important;
	height:46px!important;
	font-size:16px!important;
	margin-bottom:20px;
}

.ic1,.ic2 {
	position:absolute;
	color:#ccc;
	top:13px;
	left:10px;
	font-size:20px!important;
}

.switch {
	position:relative;
	display:inline-block;
	width:54px;
	height:24px;
}

.switch input {
	display:none;
}

.slider {
	position:absolute;
	cursor:pointer;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color:#fff;
	border:1px solid #ccc;
	-webkit-transition:.4s;
	transition:.4s;
}

.slider:before {
	position:absolute;
	content:"";
	height:18px;
	width:18px;
	left:2px;
	bottom:2px;
	background-color:#ccc;
	-webkit-transition:.4s;
	transition:.4s;
}

input:checked + .slider {
	background-color:#2196F3;
	border-color:transparent;
}

input:focus + .slider {
	box-shadow:0 0 1px #2196F3;
}

input:checked + .slider:before {
	background-color:#fff;
	-webkit-transform:translateX(28px);
	-ms-transform:translateX(28px);
	transform:translateX(28px);
}

.slider.round {
	border-radius:34px;
}

.slider.round:before {
	border-radius:50%;
}

.checked-label {
	padding-left:20px;
	color:#CCC;
	font-weight:700;
	font-size:16px;
	margin-bottom:30px;
}

.login-form .btn-primary {
	border-radius:90px;
}

.login-form .btn {
	font-size:16px;
	margin-bottom:16px;
	box-shadow:0 0 10px -4px #000;
	padding:10px 40px;
}

.userbg {

	padding:0px 40px;



}
.userbg .fa.fa-times, .userbg .fa.fa-bars{
	font-size: 20px;
}
.update-user {
	float: left;
    padding-left:16px !important;
	font-size: 15px !important;
	font-weight: bold;
}
.backbtn{
	float: right;
}
.backbtn .btn-danger{
	margin: 10px;
}

.fixedHeader{
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 8;

}
.side-nav-open .fa{
	padding-right: 8px;
	cursor: pointer;
}
.side-nav-close .fa.fa-angle-left{
	position: absolute;
	top: 3%;
	right: 3%;
	color: #05709B !important;
	font-size: 30px;
	font-weight: bold;
	cursor: pointer;
}

.user-heading,.update-user {
	background-color:#05709B;
	color:#fff;
	padding:6px;
}

.user-heading i {
	padding-left:10px;
	font-size:28px;

	padding-top: 4px;
}
.user-heading span {
	font-size: 16px;

	font-weight: bold;

}



.user-heading select {
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
}

.user-heading .select-caret:after {
	content:"\f0d7";
	font-family:FontAwesome;
	color:#fff;
	position:absolute;
	right:12%;
	top:4%;
	z-index:1;
	text-align:center;
	font-size:20px;
	pointer-events:none;
	box-sizing:border-box;
}

#users form label {
	color:gray;
}

#users {

	border-radius: 4px;
	box-shadow: 0 0 4px -2px #000;
	overflow: hidden;
	background: #05709B;
}

#users form {
	background-color:#fff;
	padding:20px;
}
.box{
	display: flex;
	align-items: center;
	justify-content: space-between;

}
.box img{width: 20%;}
.box span{
	font-size: 18px;
}
.dashboard-details {
	margin-bottom:20px;
}

.new-companies,.new-user,.feedback {
	background-position:center;
	background-size:cover;
	background-repeat:no-repeat;
	color:#fff;
	border-radius:4px;
	padding:20px;
	box-shadow: 3px 4px 10px 0px rgba(0, 0, 0, 0.21);
}

.new-companies {
	/*background-image: -webkit-linear-gradient(90deg, #11998e 0%, #38ef7d 100%);*/
	background-image:url(../images/new-companies.png);
}

.new-user {
	/*background-image: -webkit-linear-gradient(90deg, #ee0979 0%, #ff6a00 100%);*/
	background-image:url(../images/new-user.png);
}

.feedback {
	/*background-image: -webkit-linear-gradient(90deg, #3f5efb 0%, #fc466b 100%);*/
	background-image:url(../images/feedback.png);
}


.new-companies i,.new-user i,.feedback i {
	font-size:80px;
}
.font_60{
	font-size:60px;
	margin:0px;
	line-height: 1.2;
}
.font_22{
	font-size:22px;
	margin:0px;
	line-height:1;
	clear: both;
}

.view-details1,.view-details2,.view-details3 {
	background-color:#fff;
	border-bottom-right-radius:4px;
	border-bottom-left-radius:4px;
	box-shadow: 3px 4px 10px 0px rgba(0, 0, 0, 0.21);
	padding:8px;
	text-align: right;
}

.view-details1 a,.view-details2 a,.view-details3 a{
	outline:0;
	text-decoration:none;
}

.view-details1 a {
	color:#ffbb51;
}

.view-details3 a {
	color:#5db85b;
}
.range_part{

	background: #fff;
	cursor: pointer;
	padding: 8px;
	border: 1px solid #ccc;
	width: 100%;
}
.calender-section{
	margin-bottom: 30px;
}
.calender-section .btn{
	padding: 8px;
	border-radius: 0px;
	margin-top: -4px;
	display: flex;
}
.calender-section .btn:hover{
	background-color: #95CEFF !important;

}
.calender-section .btn:focus, .calender-section .btn:active{
	background-color: #fff !important;
}
.btn-default:hover, .btn-default:focus {
	background-color: transparent ;
}
.margin_80 {
	margin-top:80px;
}

.show-result , .admin-select .btn-primary{
	background-color:transparent !important;
	color:#fff !important;
}
.admin-select .btn-primary{
	border:none;
	box-shadow:none;
}
.admin-select .dropdown-menu{
	min-width:0px;
	width:100%;
}

.admin-select .dropdown .btn-primary, .admin-select .dropdown .btn-primary:hover,
.admin-select .dropdown .btn-primary:focus,
.admin-select .dropdown .btn-primary:active{
	background-color:transparent !important;
	border-color:transparent !important;
	box-shadow:none;
	padding:0px;
	padding-right:10px;
}
.width_equal{
	padding:0px !important;
}
.width_equal img{
	width:50px;
	height:50px;
	margin:0 auto;
}
.add-faults{
	width:70%;
	margin:0 auto;
	overflow: hidden;
}
.star{
	font-size:40px;
	font-weight:bold;
	float:left;
	margin:10px 0px;

}
.facility-form{
	float: left;
	margin-top: 14px;
}
.facility-form input{
	margin: 0 50%;
}
.add-faults-link{
	color:#23527c;
	font-weight:bold;
}

.margin_4 {
	margin-top:4px;
}

.dashboard-table {
	background-color:#fff;
	box-shadow: 0 0 5px 2px rgba(0,0,0,.35);
}

.dashboard-table th {
	color:#05709b;

}

.dashboard-table td {

	color:#5b5a5a;
}

.dashboard-table i {
	color:#bcbcbc;
	padding-right:2px;
	padding-left:2px;
}

.plan-category {
	background-color:#fff;
	box-shadow:0 0 8px -2px #000;
	margin-bottom:20px;
	padding:30px;
}

.basic,.optimum,.premium,.new-top-plan {
	border-top:4px solid #5db85b;
	box-shadow:0 0 8px -2px #000;
	margin-bottom:20px;
	padding:20px 0;
}

.optimum {
	border-top:4px solid #ff625e;
}

.premium {
	border-top:4px solid #ffbb51;
}

.new-top-plan {
	border-top:4px solid #05709b;
}

.basic h3,.optimum h3,.premium h3,.new-top-plan h3 {
	margin-top:0;
	margin-bottom:20px;
	text-transform:uppercase;
}

.basic h2,.optimum h2,.premium h2,.new-top-plan h2 {
	background-color:#5db85b;
	color:#fff;
	margin-top:0;
	margin-bottom:0;
	padding:20px 0;
}

.basic p,.optimum p,.premium p,.new-top-plan p {
	border-bottom:2px solid #e9e9e9;
	margin:0;
	padding:10px 0;
}

.no-border {
	border-bottom:none!important;
}

.basic .btn,.optimum .btn,.premium .btn,.new-top-plan .btn {
	margin-top:20px;
	width:130px;
}

.add-company {
	background-color:#ff625e;
	box-shadow:0 0 8px -2px #000;
	border-color:#ff625e;
	margin: 3px;
}

.user-page-form label {
	color:#b3b3b3;
}

.user-page-form sup {
	color:#ff625e;
	font-size:28px;
	top:4px;
}

.status-bg-active {
	background-color:#5cb85c;
}

.status-bg-inactive {
	background-color:#f0ad4e;
}

.status-bg-inactive,.status-bg-active {
	color:#fff;
	border-radius:4px;
	padding:5px;
	display:inline-block;
}

.navbar-collapse,.nopadding,.padding-zero {
	padding-left:0;
	padding-right:0;
}
.admin-select .dropdown-menu > li > a {
	padding: 3px 14px;
}


.positionR,.icon-group,.select-caret {
	position:relative;
}



.tabbing .active-tab a,.tabbing .active-tab i {
	color:#fff !important;
}

.help,.show-result option {
	color:#000;
}

.user-page-form .form-control {
	width:36%;
	/*box-shadow: 2px 3px 10px 0px rgba(0, 0, 0, 0.09) inset;
	border:none;*/
	padding:6px;
}
.user-page-form label{

	font-size: 17px;
}
#fileUpload{
	position:relative;
}
#uploadButton{

}
.user-profile{

	margin-top:20px;
}
.view-details2 a,.user-page-form .validation {
	color:#ff625e;
}

.table > thead > tr > th,.table > tbody > tr > td {
	padding:18px 6px;
}

.margin_30,.margin_bot_30 {
	margin-bottom:30px;
}

.optimum h2,.optimum .btn {
	background-color:#ff625e;
}

.premium h2,.premium .btn {
	background-color:#ffbb51;
}

.new-top-plan h2,.new-top-plan .btn {
	background-color:#05709b;
}

.interval-feedback > thead > tr > th,
.interval-feedback > tbody > tr > td
{
	text-align: center;
}
.report-panel {
	/*max-height: 100vh;
	overflow: scroll;
	overflow-x: hidden;*/
}
.report-panel > .panel-heading {
	color: #fff;
	background-color: #05709B;
	border-color: #05709B;
	font-weight: bold;
}
.panel-default a.collapsed .nav-span-plus .fa-minus{
	display: none;
}
.panel-default a:not(.collapsed) .nav-span-plus .fa-minus{
	display: block;
}
.panel-default a:not(.collapsed) .nav-span-plus .fa-plus {
	display: none;
}


.side-navigation .panel-body{
	border-top:none !important;
}
.side-navigation.panel-group {
	margin-bottom: 0px;
}
.side-navigation .panel{
	box-shadow:none;
	border:none;
	background-color: transparent;
}
.side-navigation .panel-default > .panel-heading {
	color: #ccc;
	background-color: transparent;
	border-color: transparent;
}
/*.side-navigation .panel-title > a:before {
    float: right !important;
    font-family: FontAwesome;
    content:"\f068";
    padding-right: 5px;
}
.side-navigation .panel-title > a.collapsed:before {
    float: right !important;
    content:"\f067";
}*/
.side-navigation .panel-title > a:hover,
.side-navigation .panel-title > a:active,
.side-navigation .panel-title > a:focus  {
	text-decoration:none;
}
.side-navigation .panel-title {
	font-size: inherit;
}

.showing-results{
	float: right;
}
.calender-section .list-inline li {
	padding-left :0px !important;
	padding-right :0px !important;
}

.alert {
	margin-top: 0px !important;
	margin-bottom: 20px !important;
}
.edit-role-label{
	float:left;
	padding-right: 10px !important;
}
.show_all_fault {
	/*max-height: 400px;
	overflow-y: auto;*/

}


ul.pagination_weekly_ul li {
	display: inline-block;
	text-align: center;
}
.pagination_weekly_div ul.pagination_weekly_ul {
	margin-left: 330px;
}
select.form-control.show-result.select_locale {

	background-color: #05709B !important;
	position: relative;


}


div.post_data_weekly {
	max-height: 550px;
	overflow-y: auto;
	overflow-x: hidden;
}

.add_more{
	float: left;
}


a.add_button>i {
	font-size: 21px;
}
a.remove_button>i {
	font-size: 21px;
}

a.add_button,a.remove_button {
	float: left;
	width: 10%;
	text-align:  center;
	display: flex;
	align-items: center;
	height: 34px;
	justify-content: center;
}




@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 1199px){
	.userbg {
		padding:40px;
	}

	.report-panel {
		margin-top: 58px;
	}

}
@media screen and (max-width: 991px){

	.user-page-form .form-control {
		width: 70% ;

	}


	.main-wrapper {
		width:50%;
		padding:25px;
	}
	.tabbing li{
		padding: 10px 0px !important;
		font-size: 13px;
	}
}

@media screen and (max-width: 767px){
	#action_list_id, #record, .showing-results{
		margin: 6px 0px;
	}
	.list-tabs {
		left: -50%;
	}

	.user-heading i , .user-heading span{


	}
	.side-nav-open .fa.fa-bars{

	}


	.showing-results{
		float: left;
	}


	.main-wrapper {
		width:100%;
		padding:20px;
	}

	.loginBtn {
		clear:both;
	}


}