<h2>Read CSV</h2>
<form method="post" name="user_edit" id="user_edit" enctype="multipart/form-data" action="http://10.0.0.46/facilitysystem/index.php?mod=user&do=edit&task=read_csv&call=API">
<table width="60%"  border="2px" align="center" cellpadding="2" cellspacing="2" class="table table-bordered">
    <tbody>
	<tr> 
		<td align="right" class="fontstyle"> <label for="image" class="control-label col-xs-10">Upload CSV</label></td>
		<td align="left">
		<div class="col-xs-4">
			<input type="file" title="Upload CSV" class="form-control" id="csv" name="csv" value="">
		</div>
		</td>
	</tr>
	<tr class="alt">
	<td colspan="2">
	<div class="col-xs-offset-2 col-xs-10" style="width:50% !important; margin-left: 24.6667%;">
		
		<button type="submit" class="btn btn-primary" name="update">Add</button>
		<button type="reset" class="btn btn-primary" name="Reset">Reset</button>
		<button type="reset" class="btn btn-primary" name="Back" onClick="window.location.href='<?php print CreateURL('index.php','mod=user');?>'">Back</button>
     </div>
		</td>
	</tr>
	</tbody>
</table>
</form>
	

	
<h2>Update user detail</h2>
<form method="post" name="user_edit" id="user_edit" enctype="multipart/form-data" action="http://10.0.0.46/facilitysystem/index.php?mod=user&do=edit&task=update_detail&call=API">
<center>
	 

 <table width="60%"  border="2px" align="center" cellpadding="2" cellspacing="2" class="table table-bordered">
    <tbody>
	<tr valign="middle" align="center"> 
      <td height="30" class="thColor" colspan="2"><font color="#FFFFFF">Add User</font></td>
    </tr>
	<tr>
		<td   colspan="2"  style="font-size:9px"align="right"  class="fontstyle">All fields are mandatory</td>
	</tr>
	<tr> 
		<td align="right" class="fontstyle" width="30%"><label for="access_key" class="control-label col-xs-10">Access Key</label></td>
		<td align="left"><div class="col-xs-4"><input title="" class="form-control" type="text"
			name="access_key" id="access_key" size=25></div>  </td>
	</tr>
	<tr> 
		<td align="right" class="fontstyle" width="30%"><label for="subscription_plan" class="control-label col-xs-10">First Name</label></td>
		<td align="left"><div class="col-xs-4"><input title="Enter User First Name" class="form-control" type="text"
			name="first_name" id="first_name" size=25></div>  </td>
	</tr>
	<tr> 
		<td align="right" class="fontstyle" width="30%"><label for="subscription_plan" class="control-label col-xs-10">Last Name</label></td>
		<td align="left"><div class="col-xs-4"><input title="Enter User Last Name" class="form-control" type="text"
			name="last_name" id="last_name" size=25> </div> </td>
	</tr>
	
	<tr> 
		<td align="right" class="fontstyle" width="30%"><label for="subscription_plan" class="control-label col-xs-10">Phone Number</label></td>
		<td align="left"><div class="col-xs-4"><input title="Enter User Phone Number" class="form-control" type="text"
			name="user_phone" id="user_phone" size=25 > </div> </td>
	</tr>
   <tr>
			<td class="fontstyle" align="right"><label for="subscription_plan" class="control-label col-xs-10">Email</label></td>
			<td align="left"><div class="col-xs-4"><input title="Enter Email Id" class="form-control" type="text"
			name="user_email" id="user_email" size=25></div></td>
	
	</tr>
	
	<tr> 
		<td align="right" class="fontstyle"> <label for="image" class="control-label col-xs-10">Profile Image</label></td>
		<td align="left">
		<div class="col-xs-4">
			<input type="file" title="Upload Profile Picture" class="form-control" id="profile_image" name="profile_image" value="<?php echo $_POST['profile_image'];?>">
		</div>
		</td>
	</tr>
	<tr class="alt">
	<td colspan="2">
	<div class="col-xs-offset-2 col-xs-10" style="width:50% !important; margin-left: 24.6667%;">
		
		<button type="submit" class="btn btn-primary" name="update">Add</button>
		<button type="reset" class="btn btn-primary" name="Reset">Reset</button>
		<button type="reset" class="btn btn-primary" name="Back" onClick="window.location.href='<?php print CreateURL('index.php','mod=user');?>'">Back</button>
     </div>
		</td>
	</tr>
</table>
<b class="xbottom"><b class="xb4"></b><b class="xb3"></b><b class="xb2"></b><b
	class="xb1"></b></b></div>

	
</form>
<h2>Update password</h2>
<form action="http://sunlinux/facilitysystem/index.php?mod=user&do=edit&task=update_password&call=API" method="post">
<tr> 
		<td align="right" class="fontstyle" width="30%"><label for="access_key" class="control-label col-xs-10">Access Key</label></td>
		<td align="left"><div class="col-xs-4"><input title="" class="form-control" type="text"
			name="access_key" id="access_key" size=25></div>  </td>
	</tr>
	<tr> 
		<td align="right" class="fontstyle" width="30%"><label for="Password" class="control-label col-xs-10">Password</label></td>
		<td align="left"><div class="col-xs-4"><input title="Enter User Password" class="form-control" type="text"
			name="password" id="password" size=25></div>  </td>
	</tr>
    <button type="submit" class="btn btn-primary" name="submit">Update</button>
</form>
</center>
</body>
</html>
